.parent{
  -fx-background-color: white;
}

.sidebar{
  -fx-background-color: white;
}

.forgetBtn{
  -fx-text-fill: #a3a3a3;
}

.forgetBtn:hover{
  -fx-text-fill:#6747CD;
}

.loginBtn{
  -fx-background-color: #6747CD;
  -fx-text-fill: #FFF;
  -fx-background-radius: 3px;
}

.loginBtn:hover{
  -fx-background-color: transparent;
  -fx-background-radius: 3px;
  -fx-text-fill:#6747CD;
  -fx-border-color:#6747CD;
  -fx-border-radius: 3px;
  -fx-border-image-width: 1px;
  -fx-border-style: solid;
}

.closeBtn{
  -fx-fill: #545454
}

.closeBtn:hover{
  -fx-fill:#ff6666;
}
